html {
    background color: lightgray;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
}

a {
    color: blue;
}

#maincontent {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
    opacity: 0.9;
    color: #2e7988;
    background-color: #ffe994;
    text-align: center;
    border-radius: 10px;
}

#images {
    max-width: 500px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
}

.catimg {
    display: inline-block;
    max-width: 175px;
    margin: 0 auto;
    margin-top: 1em;
    border-radius: 50%;
}

.underline {
    text-decoration: underline;
    cursor: pointer;
}
